.app-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app-navigation-list {
  display: flex;
  justify-content: space-between;
}

.app-navigation-list-item {
  padding: 5px;
}

.app-navigation-link-item {
  font-size: large;
  color: white;
}

.app-navigation-link-item:hover {
  color: white;
  text-decoration: none;
}

.app {

}

.logo {
  font-size: xx-large;
  margin-right: 20px;
}
